@import 'mixins/default-mixins.scss';

// Custom variables
$primary-font: 'Questrial', sans-serif ;
$bg-color: rgba(7, 70, 170, 0.8);
$bg-solid: #2055b3;
$layer-color: rgba(0,0,0,0.3);
$dark-layer: rgba(10,10,10,.8);
$primary-color: rgba(229, 44, 42, 0.7);
$secondary-color: rgba(251, 251, 251, 0.22);
$white: rgba(250,250,250,.8);
$turquoise: #06dbff;

html{
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background: $bg-color !important;
	letter-spacing: 3px;

	#preloader {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background:$dark-layer;
		opacity: 0;
		z-index: 100;
		@include fade-out(3s);

		#spinner {
			position: absolute;
		    top:0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;

		    border: 3px solid rgba(255, 255, 255, 0.5);
		    border-top: 3px solid $primary-color; 
		    border-radius: 50%;
		    width: 80px;
		    height: 80px;
		    animation: spin 2s linear infinite;
		}

		@keyframes spin {
		    0% { transform: rotate(0deg); }
		    100% { transform: rotate(360deg); }
		}
	}

	.layer {
		background: $layer-color;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
}

.auth_wrapper {
	display: block;
	margin: 0 auto;
	padding: 5em 1.5em;
	height: auto;
	width: 100%;
	max-width: 500px;

	#login_form,
	#login_guest,
	#register_form {
		
		h3 {
			/*font-family, font-size, font-weight, color,  letter-spacing*/
			@include font($primary-font, 1.5em, 200, $white, 5px);
			margin: 2.5em;
			text-align: center;
			text-transform: uppercase;

			@include slideY(1s);
		}

		@include slideY-keyframes(-50px);

		#error_messages p {
			@include error-msg();
		}

		input[type=file] {
			width: 100%;
			margin: 0 !important;
			padding: 5px;
		}

		input[type=file],
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			border: none;
			border-radius: 0;
			margin: 8px 0;
			background: $secondary-color;
			color: #fff;
			text-shadow: 2px 2px 5px rgba(99, 97, 97, 0.59);
		}

		input[type="submit"] {
			border: none;
		    background: $primary-color;
		    width: 100%;
		    text-align: center;
		    color: #fff;

		    @include hover();
		    @include transition();

		    &:focus,
		    &:hover {
		    	background: rgba(43, 100, 232, .7);
		    	cursor: pointer;
		    	box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
		    }
		}

		input#submit_login_guest {
		    background: rgba(2, 137, 255, 0.77) !important;
		    position: relative;
		    bottom: 23px;
		}

		#login_form_redirect {
			display: block;
			margin: 0 auto;
			font-family: $primary-font;
			color: $white;
			text-decoration: none;
		    line-height: 5em;
		    text-align: center;	     
		    @include transition();

			&:hover {
				color: $turquoise;
			}
		}

		#register_form_redirect {
			display: block;
			margin: 0 auto;
			font-family: $primary-font;
			color: $white;
			text-decoration: none;
		    line-height: 5em;
		    text-align: center;
		    @include transition();

			a {
				font-family: $primary-font;
				color: $white;
				text-decoration: none;

				&:hover {
					color: $turquoise;
				}
			}
		}
	}
}