$white: #f7f3f3;
$white-transparent: rgba(255, 255, 255, 0.8);
$light-blue: rgba(7, 70, 170, 0.8);
$dark-blue: rgba(15, 45, 100, 0.9);
$dark-layer: rgba(10,10,10,.8);
body {
	background: $light-blue;
	margin: 0;
	padding: 0;
	// Menu animation
	transition: 0.3s;
	overflow:hidden;
}

// Countdown
#countdown {
	position: absolute;
	top: 40%;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 5em;
	color: $white;
}

// Pop-up Model
#pop_up_model {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $dark-layer;
	z-index: 100;

	#model_content {
		display: block;
		margin: 3em auto;
		padding: 3em 2em;
		width: 100%;
		max-width: 500px;
		background: none;

		#logo {
			display: block;
			margin: 0 auto;
			padding: 2em;
			margin: 1.5em 0em 2.5em 0em;
			width: 100%;
			height: auto;
			background: url(/build/images/logo.png) no-repeat center center; 
			@include background-size(contain);
		}

		h6 {
			text-align: center;
			text-transform: uppercase;
			color: $white;
		}

		button {
			display: block;
			margin: 15px auto;
			width: 100%;
			max-width: 245px;
			text-transform: uppercase;
		}

		select.button.secondary.set_game_mode{
			padding-left: 40% !important;
		}

		#single_player_content {
    		padding: 2em 6em;
    		margin: 0;
		}

		input.button.secondary,
		input.play_game {
			position: relative;
			top: 10px;
			margin: 0.3em 0 !important;
			width: 100%;
		}

	}
}

main.container {
	display: block;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    max-width: 550px;

	#scoreboard {
	    display: block;
	    margin: 0 auto;
	    margin-bottom: 15px !important;
	    padding: 1em;
	    width: 100%;
	    max-width: 450px;
	    border-radius: 0px 0px 8px 8px;
	    background: #12326C;
	    text-align: center;

	    -webkit-box-shadow: 2px 3px 9px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 3px 9px -1px rgba(0,0,0,0.75);
		box-shadow: 2px 3px 9px -1px rgba(0,0,0,0.75);

		#score,
		#time,
		#lives {
			display: inline-block;
			width: 30%;
			color: $white;
		}
	}

	#toggle_nav {
	    position: relative;
	    top: 10%;
	    background-color: #0579c7;
	    round-color: #ff4081;
	    border-radius: 100%;
	    width: 80px;
	    height: 80px;
	    text-align: center;
	    margin: auto;
	    padding-top: 28px !important;
	    padding: 1em;
	    color: #fff;
	    cursor: pointer;
	   	@include nav-shadow(0.3); 
	}
	
	//Playboard
	.playboard_row{
	    height: auto;
	    text-align: center;

	    .col-4 {
	    	position: relative;
		    margin: 0 auto;
		    height: 5em;
		    border: 1px solid rgba(255,255,255,0.6);
			border-radius: 5px;
		    display: inline-flex;
		    width: 5em;

		    p {
		    	position: absolute;
			    text-align: center;
			    width: 100%;
			    height: 100%;
			    padding-top: 33%;
			    font-size: 3em;
			    background: #4092ce;
			    font-family: sans-serif;
			    border-radius: 25%;
			    color: #fff;

			    &.correct_word{ background: #e2e23e !important; }
				&.correct_position{ background: #2bec7f !important; }
			}
		}
	}

	#playboard_user_input{
		#playboard_form{
			display: block;
			margin: 0 auto;
			width: 21em !important;
			background: rgba(56, 56, 101, 0.13) !important;
			border: 1px solid rgba(255,255,255,0.6);
			color: $white;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 0.2em;
		}

		#playboard_submit{
			display: block;
			margin: 5px auto;
			width: 21em;
		}
	}

	#error_message {
		display: none;
	    margin: 15px auto;
	    padding: 5px;
	    background: rgba(239, 5, 25, 0.62);
	    width: 20em;
	    text-align: center;
	    color: #fff;
	    border-radius: 5px;
	}
}

#menu {
	position: fixed;
	width: 100%;
	height: 500px !important;
	background-color: $dark-blue;
	padding: 5px 0px;
	color: $white;
	z-index: -1;

	@include btn-shadow(0.5);

	#profile {
		width: 250px;
		margin: 55px auto;
		padding: 15px;
		text-align: center;
		p {margin-bottom: 5px;} // style reset

		#avatar {
			position: relative;
			bottom: 15px;
		    width: 110px;
		    height: 110px;
		    display: block;
		    margin: 10px auto;
		    border-radius: 100%;
		    background-color: #fff;
		    background-size: cover;
		    background-position: center;
		}

		#username,
		#room_name {
		    padding: 3px 15px;
		    //border: 1px solid #fff;
		    color: $white;
		    transition: 0.3s;
		    font-size: 12px !important;
		    border-radius: 3px;
		    background: rgba(54, 54, 234, 0.78);
		}

		#logout {
			position: relative;
			top: 1em;
			text-decoration: none;
			color: $white;

			&:hover {
				color: #eee;
			}
		}
	}
}