$white: #f7f3f3;
$white-transparent: rgba(255, 255, 255, 0.8);
$light-blue: rgba(7, 70, 170, 0.8);
$dark-blue: rgba(15, 45, 100, 0.9);
$dark-layer: rgba(10,10,10,.8);
body {
	background: $light-blue;
	margin: 0;
	padding: 0;
}

// Pop-up Model
#pop_up_model {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: $dark-layer;

	#model_content {
		display: block;
		margin: 3em auto;
		padding: 3em 2em;
		width: 100%;
		max-width: 500px;
		border-radius: 0.3em;
		background: $white-transparent;
		@include box-shadow(0.3);

		#logo {
			display: block;
			margin: 0 auto;
			padding: 2em;
			margin: 1.5em 0em 2.5em 0em;
			width: 100%;
			height: auto;
			background: url(/build/images/logo.png) no-repeat center center; 
			@include background-size(contain);
		}

		h6 {
			text-align: center;
			text-transform: uppercase;
		}

		button {
			display: block;
			margin: 15px auto;
			width: 100%;
			max-width: 245px;
			text-transform: uppercase;
		}

		select.button.secondary.set_game_mode{
			padding-left: 40% !important;
		}

		#single_player_content {
    		padding: 2em 6em;
    		margin: 0;
		}

		input.button.secondary,
		input.play_game {
			position: relative;
			top: 10px;
			margin: 0.3em 0 !important;
			width: 100%;
		}

	}
}

main.container {
	display: block;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    max-width: 800px;

	nav {
		display: inline-flex;
		width: 100%;
		height: auto;
		padding: 1.4em;

		#open_nav {
			position: relative;
			top: 8px;
			cursor: pointer;
			font-size: 2em;
    		color: $white;
		}

		#scoreboard {
		    display: block;
		    margin: 0 auto;
		    width: 100%;
		    text-align: center;

			#score,
			#time,
			#lives {
				margin-right: 1.2em;
				padding: 10px 20px !important;
			}
		}
	}

	#side_bar {
		position: fixed;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    background-color: $dark-blue;
		padding: 5px 0px;
	    height: 100%;
	    width: 0;
	    color: $white;
	    overflow-x: hidden;
	    transition: 0.3s;

		#close_nav {
			display: block;
			padding: 15px;
			text-align: right;
			text-decoration: none;
			font-size: 2.5em;
			color: #fff;
		}

		#profile {
			width: 250px;
			padding: 15px;

			p {margin-bottom: 5px;} // style reset

			#avatar {
				position: relative;
				bottom: 15px;
			    width: 110px;
			    height: 110px;
			    display: block;
			    margin: 10px auto;
			    border-radius: 100%;
			    background-color: #fff;
			    background-size: cover;
			    background-position: center;
			}

			#username,
			#room_name {
			    padding: 3px 15px;
			    //border: 1px solid #fff;
			    color: $white;
			    transition: 0.3s;
			    font-size: 12px !important;
			    border-radius: 3px;
			    background: rgba(54, 54, 234, 0.78);
			}

			#logout {
				text-decoration: none;
				color: $white;

				&:hover {
					color: #eee;
				}
			}
		}

	}	
	// Responsive
	@media screen and (max-height: 450px) {
	  	#side_bar {padding-top: 15px;}
	  	#side_bar a {font-size: 18px;}
	}
}