@import url('https://fonts.googleapis.com/css?family=Questrial');

// Variables
$font-family: sans-serif !default;
$font-size: 16px !default;
$font-weight: 300 !default;
$color: #000;
$letter-spacing: 1px !default;

// Mixins
@import 'mixins/default-mixins.scss';

// Templates
@import 'auth.scss';
@import 'game.scss';

footer {
	font-size: 13px;
    color: #c1c1c1;
    text-align: center;
    letter-spacing: 1.5px;
}